:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  /* color:rgb(221, 160, 190);
  background-color: rgb(233, 240, 241); */
}

.container {
  max-width: 600px;
  margin: 0 auto;
  /* background-color: rgb(199, 46, 110);
  color:rgb(149, 10, 161); 
  colors: rgb(90, 9, 110);*/
  color: rgb(54, 53, 54);
  /* background-color: rgb(68, 201, 211); */
  box-shadow: inset 0 0 0 3px rgb(199, 46, 110);
  border-radius: 0%;
  padding: 1rem;
}

.players {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.player {
  display: flex;
  align-items: center;
  gap: .2rem;
}

.disc {
  background-color: rgb(233, 219, 16);
  box-shadow: inset 0 0 0 3px rgb(223, 191, 11);
  border: solid 3px #f6db38;
  outline: solid 1px #c8a91e;
  width: 30px;
  height: 30px;
  /* width: 20px;
  height: 20px; */
  border-radius: 100%;
}

.disc-red {
  background-color: rgb(233, 16, 63);
  box-shadow: inset 0 0 0 3px rgb(223, 11, 11);
  border: solid 3px #f63838;
  outline: solid 1px #c81e1e;
  width: 30px;
  height: 30px;
  /* width: 20px;
  height: 20px; */
  border-radius: 100%;
}

.selector {
  display: flex;
  gap: .5rem;justify-content: space-evenly;
}

.selector .disc {
  
  margin: 10px;
  transform: scale(2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  aspect-ratio: var(--cols) / var(--rows);
  background-color: #336dac; 
  background: radial-gradient(circle, transparent, transparent 50.99%, #336dac 51%, #336dac 100%);
  /* to create dimamic little circles, by screen size*/
  background-size: calc(100% / var(--cols)) calc(100% / var(--rows));
  border: 15px solid #2a7582; 
  align-items: center;
  justify-content: center;
}

/* .grid > div {
  background-color: #fff;
  border-radius: 100%;
} */

button {
  cursor:pointer;
  appearance: none;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

button:hover {
  transform: translateY(-2px);
 /* background-color:linear-gradient(to bottom, #d31818 5%, #cc0d7c 100%);
	 background-color: transparent;
  background-color:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background:#fb9e25; */
}
button:active {
	position:relative;
	top:1px;
  box-shadow: none;
  transform: translateY(0);
}

/* CSS 
button {
  
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}*/

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

/* CSS 
.button-72 {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
  border-radius: 42px;
  border-width: 0;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-family: Quicksand,sans-serif;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: .04em;
  line-height: 16px;
  margin: 0;
  padding: 18px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.button-72:hover {
  background-image: linear-gradient(#B384C9, #391F5B 50%);
}

@media (min-width: 768px) {
  .button-72 {
    font-size: 21px;
    padding: 18px 34px;
  }
}*/
/*.button-28:active {
  
}
   box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:11px;
	border:2px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:8px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}
.butt:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}
.butt:active {
	position:relative;
	top:1px;
} */
